//color-pallete
$blueColor: #213f7d;
$greenColor: #39cdcc;
$whiteColor: #ffffff;
$blackColor: #545f7d;

//font-size
$regularFont: 14px;
$smallFont: 11px;
$menubarHeading: 10px;

//menubar-icon-height
$menubarIcon: 13px;
